doctype html
head
    title
    link(rel="stylesheet" href="./css/bootstrap.min.css")
body
    h1= library
    h3= description
    form(action="/showBook" method="get")
        label(for="books") Select a book
        select(name="books" id="books")
            each object in objects
                option(value=`${object.id}`)= object.title
            input(type="submit")
