doctype html
head
    title
    link(rel="stylesheet" href="./css/bootstrap.min.css")
body
    h1 BookWorm Classic Collection
    h3 Our complete catalog of books
    form(action="/showBook" method="get")
        label(for="books") Select a book
        select(name="books" id="books")
            each book in books
                option(value=`${book.id}`)= book.title
            input(type="submit")
